<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>CSS Grid</title>
</head>
<body>
    <div class="grid-container">
        <div class="grid-item grid-item-1">
            <p>1</p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, sit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, quasi. Culpa itaque non quidem, molestiae officiis, voluptatem enim, possimus ipsum reiciendis in harum. Recusandae, officiis?
        </div>
        <div class="grid-item grid-item-2">
            <p>2</p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, sit.</div>
        <div class="grid-item grid-item-3">
            <p>3</p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, sit.</div>
        <div class="grid-item grid-item-4">
            <p>4</p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, sit.</div>
        <div class="grid-item grid-item-5">
            <p>5</p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ad, sit.</div>
    </div>
    <div class="grid-numbers">
        <div class="grid-num-item">1</div>
        <div class="grid-num-item">2</div>
        <div class="grid-num-item">3</div>
        <div class="grid-num-item">4</div>
        <div class="grid-num-item">5</div>
        <div class="grid-num-item">6</div>
        <div class="grid-num-item">7</div>
        <div class="grid-num-item">8</div>
        <div class="grid-num-item">9</div>
        <div class="grid-num-item">10</div>
    </div>
    <div class="anim-grid">
        <div class="anim-item">1</div>
        <div class="anim-item">2hoo</div>
        <div class="anim-item">h3oo</div>
        <div class="anim-item">ho4o</div>
        <div class="anim-item">hoo5</div>
        <div class="anim-item">hoo6</div>
        <div class="anim-item">hoo7</div>
        <div class="anim-item">hoo8</div>
        <div class="anim-item">ho9o</div>
        <div class="anim-item">ho10o</div>
        <div class="anim-item">ho11o</div>
        <div class="anim-item">hoo12</div>
        <div class="anim-item">hoo12</div>     
    </div>
</body>
</html>