* {
    box-sizing: border-box
}

#root {
    background-image: url(Assets/Background-logo.png);
    background-position: right top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    color: #000;
    overflow: hidden
}
